.button {
    border-radius: 6px;
    background-color: $purple;
    color: white;
    font-weight: 700;
    padding: 16px 32px;
    border: 2px solid transparent;
}

.button:hover {
    background-color: white;
    border: 2px solid $purple;
    color: $purple;
}

.button.hollow {
    border-radius: 6px;
    background-color: white;
    color: $purple;
    font-weight: 700;
    padding: 16px 32px;
    border-color: $purple;
}

.button.hollow:hover {
    background-color: $purple;
    color: white;
    border-width: 1px;
}

.button.icon img {
    margin-left: 16px;
}

.button.icon:hover {
    background-color: $lightpurple;
    color: white;
    border-color: $lightpurple;
}

.button.dropdown {
    border-radius: 6px;
    background-color: $purple;
    color: white;
    font-weight: 700;
    padding: 16px 32px;
}

.button.dropdown:hover {
    background-color: $lightpurple;
    color: white;
    border-color: $lightpurple;
}

.button-group {
    margin-bottom: 0;
}