.main-sidebar {
    border-right: 1px solid $grey;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    overflow: scroll;
}

.main-sidebar .logo {
    padding: 56px 48px;
}

.main-sidebar .search{
    width: 100%;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    border-color: $grey;
    height: 48px;
    text-indent: 16px;
    margin-bottom: 0;
}

.main-sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-sidebar a {
    padding: 16px;
    display: block;
    border-bottom: 1px solid $grey;
    color: $type;
    position: relative;
}

a.main-sidebar-link {
    border-bottom: 0;
}

.main-sidebar .sub-menu {
    padding-bottom: 16px;
    background-color: $lightgrey;
    border-bottom: 1px solid $grey;
}

.sub-menu a {
    padding-left: 32px;
    border: none;
    padding-bottom: 0;
}

.desktop-menu>ul>li>a {
    font-weight: 600;
}

.main-sidebar .down-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid $grey;
    padding: 24px 16px;
}