//overwrite foundation fonts
h1, h2, h3, p, li, span, a {
    font-family: "Open Sans";
}

body {
    font-family: 'open sans';
    color: $type;
}

h1 {
    font-size: 36px;
    font-weight: 500;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}